<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Employee List</h4>
          <div class="small text-muted">November 2017</div>
        </div>
        <!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary" btnRadio="Day" id="option1">Day</label>
            <label class="btn btn-outline-secondary" btnRadio="Month" id="option2">Month</label>
            <label class="btn btn-outline-secondary" btnRadio="Year" id="option3">Year</label>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
      <div class="table-responsive" style="margin-top:30px;">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Middle Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees">
              <td>{{ employee.id }}</td>
              <td>{{ employee.lastname }}</td>
              <td>{{ employee.firstname }}</td>
              <td>{{ employee.middlename }}</td>
              <td><button type="button" class="btn btn-link">Edit</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>